version: 2
updates:
- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: daily
    time: "10:00"
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: jakarta.enterprise:jakarta.enterprise.cdi-api
    versions:
    - ">= 3.a, < 4"
  - dependency-name: jakarta.json:jakarta.json-api
    versions:
    - ">= 2.a, < 3"
  - dependency-name: org.glassfish:jakarta.json
    versions:
    - ">= 2.a, < 3"
